@tailwind base;

/* Write your own custom base styles here */
/* @layer base {
  @font-face {
    font-family: Inter;
    font-weight: 300;
  }
  @font-face {
    font-family: Inter;
    font-weight: 600;
  }
  @font-face {
    font-family: Inter;
    font-weight: 700;
  }
  @font-face {
    font-family: Playfair Display;
    font-weight: 600;
  }
} */

body {
  text-color: #232323;
}

h1 {
  @apply text-5xl font-serif font-semibold;
}

p {
  @apply font-sans my-4;
}

h2 {
  @apply font-serif text-3xl;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.tablet-illustration {
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 38px;
  background: #fff;
  box-shadow: inset 0 4px 7px 1px #fff,
    inset 0 -5px 20px rgba(173, 186, 204, 0.25), 0 2px 6px rgba(0, 21, 64, 0.14),
    0 10px 20px rgba(0, 21, 64, 0.05);
  width: 512px;
  height: 352px;
}

.slanted:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  width: 1500px;
  background: #f7f7f7;
  transform: skew(-85deg);
  transform-origin: top;
  /* max-height: 400px; */
  z-index: 3;
  opacity: 0.7;
}

.typewriter #typing {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.2rem solid #3b3b3b; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /* margin: 0 auto; Gives that scrolling effect as the typing happens */
  /* Adjust as needed */
  /* animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; */
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #3b3b3b;
  }
}
