@tailwind base;

/* Write your own custom base styles here */
/* @layer base {
  @font-face {
    font-family: Inter;
    font-weight: 300;
  }
  @font-face {
    font-family: Inter;
    font-weight: 600;
  }
  @font-face {
    font-family: Inter;
    font-weight: 700;
  }
  @font-face {
    font-family: Playfair Display;
    font-weight: 600;
  }
} */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
